
.container{
    max-width: 960px;
    margin: 0 auto;
}

header p{
    display: flex;
    justify-content: space-between;
    font-family: Baloo;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    width: 100%;
    background-color: #333333;
}

header ul{
    display: flex;
}